
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/css/themify-icons.css" type="text/css">
<link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
<link href="~/css/GioiThieu.css" rel="stylesheet" />

<link href="~/css/GioiThieu_1.css" rel="stylesheet" />

<!-- Features Section -->
<div id="features" class="text-center">
    <div class="container">
        <div class="section-title">
            <h4>NỔI BẬT</h4>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="features-item">
                    <a href="@Url.Action("SanPhamNam","SanPham")">
                        <h3>Vòng tay nam</h3>
                        <img src="~/Img/Vòng-tay-trầm-hương-thiên-mộc-hương-2.jpg" class="img-responsive" alt="">
                    </a>
                    <p>Vòng tay trầm hương nam "đẳng cấp cho quý ông thành đạt".</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="features-item">
                    <a href="@Url.Action("SanPhamNu","SanPham")">
                        <h3>Vòng tay nữ</h3>
                        <img src="~/Img/Vòng-tay-trầm-hương-thiên-mộc-hương.jpg" class="img-responsive" alt="">
                    </a>
                    <p>Vòng tay trầm hương nữ "tỏa sáng năng tầm phụ nữ Việt".</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="features-item">
                    <a href="@Url.Action("PhuKien","SanPham")">
                        <h3>Phụ kiện trầm hương</h3>
                        <img src="~/Img/nhang-cây--300x300.jpg" class="img-responsive" alt="">
                    </a>
                    <p>Sản vật vô giá trong đời sống tinh thần và sức khỏe người Việt.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section -->
<div id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 about-img"> </div>
            <div class="col-xs-12 col-md-3 col-md-offset-1">
                <div class="about-text">
                    <div class="section-title">
                        <h2>Câu chuyện thương hiệu trầm hương</h2>
                    </div>
                    <p>Trầm Hương sinh ra từ vết thương trên thân cây gió bầu.Trải qua nhiều năm tháng “ăn nắng ăn gió” mới hình thành nên Trầm. Quý giá hơn, không phải cây nào cũng có Trầm, phải 1000 cây mới tìm được một cây có trầm…</p>
                    <p>Thời gian tích Trầm càng lâu năm, tức tuổi Trầm càng nhiều thì càng quý giá. Nhiều người tin rằng Trầm Hương hấp thụ linh khí của trời đất, tinh hoa của rừng núi nên sẽ bảo vệ và mang lại may mắn cho người đeo.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
    <div class="container">
        <div class="section-title text-center">
            <h2>Phong Thủy Đời Sống</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="menu-section">
                    <h2 class="menu-section-title">Ai nên đeo vòng tay phong thủy</h2>
                    <div class="menu-item">
                            <div class="menu-item-name">Đối với trẻ em, thiếu niên, trưởng thành</div>
                          
                            <div class="menu-item-description"> Có thể đeo những chiếc vòng để cầu mong sức khỏe tốt, những chiếc vòng mang lại may mắn trong việc học hành thi cử thuận lợi, giúp bạn gặp nhiều may mắn, tài lộc và công danh. </div>
                        </div>
                        
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="menu-section">
                    <h2 class="menu-section-title">Ý nghĩa vòng tay phong thủy</h2>
                    <div class="menu-item">
                        <div class="menu-item-name">Tác dụng của vòng trầm hương trong phong thủy</div>
                         
                        <div class="menu-item-description"> Người xưa quan niệm rằng trầm hương là nơi tụ linh khí của trời đất, vượng khí trên thế gian, hấp thụ tài lộc .Nó sẽ giúp gặt hái được tài lộc, cuộc sống luôn thịnh vượng, gia chủ được phát tài. Có khả năng tránh gió, bảo vệ sức khỏe người dùng, thư giãn đầu óc, mang lại tinh thần thoải mái. </div>
                        </div>
                        
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="menu-section">
                    <h2 class="menu-section-title">Giá trị trầm hương </h2>
                    <div class="menu-item">
                        <div class="menu-item-name">Giá trị thực của trầm hương - hiểu sao cho đúng?</div>
                           
                        <div class="menu-item-description">Trầm hương là đứa con quý giá của Mẹ thiên nhiên.Trầm đặc biệt tốt với sức khỏe, thông qua việc xông, uống và tắm. Trầm có tính kháng khuẩn và chống viêm rất tốt. Trong các bài thuốc nam, trầm được biết đến với công dụng chữa các bệnh về tiêu hóa, tăng cường sinh lý, ...Trầm hương có giá trị cao, nên người kinh doanh trầm hương cần là người có tâm. </div>
                        </div>
                       
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="menu-section">
                    <h2 class="menu-section-title">Ý nghĩa số hạt vòng tay </h2>
                    <div class="menu-item">
                            <div class="menu-item-name">Bao gồm theo quan niệm luân hồi, phong thủy, phật giáo</div>
                          
                            <div class="menu-item-description">
                                Tùy theo quan niệm mà ý nghĩa của các chuỗi hạt cũng khác nhau . Và quan trọng hơn là chọn vòng tay phù hợp với kích thước của mình .Thông thường nữ giới thường hay đeo vòng tay loại 12mm hoặc 10mm trở xuống.
                                Nam giới thường đeo vòng tay kích thước loại 12mm trở lên.
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery Section -->
<div id="gallery">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="gallery-item"> <img src="~/Img/" class="img-responsive" alt=""></div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="gallery-item"> <img src="~/Img/Untitled-1.jpg" class="img-responsive" alt=""></div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="gallery-item"> <img src="~/Img/.jpg" class="img-responsive" alt=""></div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="gallery-item"> <img src="~/Img/Untitled-3.jpg" class="img-responsive" alt=""></div>
            </div>
        </div>
    </div>
</div>
<!-- Team Section -->
<div id="team">
    <div class="container">
        <div id="row">
            <div class="col-md-6">
                <div class="col-md-10 col-md-offset-1">
                    <div class="section-title">
                        <h2>ĐÁP ỨNG CỦA CHÚNG TÔI</h2>
                    </div>
                    <p>Trầm khi được mang về, qua bàn tay khéo léo của những nghệ nhân chế tác ở làng Thuỷ Xuân trở thành những hạt trầm bóng, đẹp và thoảng hương quyến rũ.</p>
                    <p>Từ những khối Trầm Hương sần sùi thô ráp trở thành một chiếc vòng hoàn chỉnh là cả một quá trình tỉ mỉ, công phu và đầy tâm huyết đến từ những nghệ nhân của Agarwood.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="team-img"><img src="~/img/bia3.jpg" alt="..."></div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script src="~/js/jquery.countdown.min.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/jquery.zoom.min.js"></script>
<script src="~/js/jquery.dd.min.js"></script>
<script src="~/js/jquery.slicknav.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/main.js"></script>