
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhapSSO</title>
</head>
<body>
    <form class="frm">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-5">
                <p>
                    <a class="btn btn-default btn-block" href="@Url.Action("SignIn", new { type = "Google" })"><i class="fa fa-google"></i>&nbsp;&nbsp;Login using Google</a>
                </p>
            </div>
        </div>
    </form>
        
</body>
</html>
